html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

ul,
ol {
  padding: 0
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

ul {
  list-style: none
}

img {
  max-width: 100%;
  display: block
}

input,
button,
textarea,
select,
address {
  color: inherit;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  letter-spacing: inherit
}

button {
  cursor: pointer
}

textarea {
  resize: vertical
}

a {
  color: inherit;
  text-decoration: none
}

body {
  font-size: 24px;
  font-weight: 400;
  color: #17171c;
  background-color: #c5c5c5
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

.weather {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  padding: 15px 10px;
  background-color: #fff
}

.weather__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (40px);
  grid-template-rows: repeat(10, 40px);
  grid-gap: 2px;
  border: 2px solid #474747;
  background-color: #474747;
}

.weather__form,
.weather__main-list,
.weather__title-wrapper,
.weather__location-list,
.weather__nav-btn {
  background-color: #fff
}

.weather .weather-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-grid-column-span: 6;
  grid-column: span 6;
  -ms-grid-row-span: 1;
  grid-row: span 1
}

.weather .weather-form__input {
  max-width: 554px;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  outline: transparent
}

.weather .weather-form__btn {
  width: 44px;
  height: 44px;
  background-color: #000;
  -webkit-mask-image: url("../public/images/icons/search.svg");
  mask-image: url("../public/images/icons/search.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: auto;
  mask-size: auto;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s
}

.weather .weather-form__btn:hover {
  background-color: #858585
}

.weather__main-list {
  position: relative;
  padding: 15px;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  -ms-grid-row-span: 8;
  grid-row: span 8;
  overflow: scroll;
  scrollbar-width: none
}

.weather__main-list::-webkit-scrollbar {
  width: 0
}

.weather__main-item {
  display: none;
  height: 100%
}

.weather__main-item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.weather .common-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/weather_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto
}

.weather .common-info__temperature {
  font-size: 70px
}

.weather .common-info__favourite {
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: 10px;
  right: 10px;
  background-color: #c5c5c5;
  -webkit-mask-image: url("../public/images/icons/favourite.svg");
  mask-image: url("../public/images/icons/favourite.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: auto;
  mask-size: auto;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s
}

.weather .common-info__favourite:hover {
  background-color: #858585
}

.weather .common-info__favourite--active,
.weather .common-info__favourite:active {
  background-color: #17171c
}

.weather .detailed-info {
  height: 100%
}

.weather .detailed-info__city {
  margin-bottom: 15px
}

.weather .detailed-info__item {
  margin-bottom: 10px
}

.weather .detailed-info__item:last-child {
  margin-bottom: 0
}

.weather .detailed-info--active {
  display: block
}

.weather .hour-info {
  width: 100%
}

.weather .hour-info__city {
  margin-bottom: 15px
}

.weather .hour-info__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #000
}

.weather .hour-info__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.weather .hour-info__icon {
  position: absolute;
  right: 10px;
  bottom: 15px
}

.weather .hour-info__icon span {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px;
  left: 0;
  background-image: url("../public/images/icons/rain_icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.weather__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px 15px;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  -ms-grid-row-span: 2;
  grid-row: span 2
}

.weather__location-title {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  vertical-align: bottom
}

.weather__location-list {
  padding: 10px 15px;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  -ms-grid-row-span: 7;
  grid-row: span 7;
  overflow: scroll;
  scrollbar-width: none
}

.weather__location-list::-webkit-scrollbar {
  width: 0
}

.weather__location-btn {
  width: 100%;
  text-align: left;
  padding: 8px 8px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s
}

.weather__location-btn:hover {
  background-color: #c5c5c5
}

.weather__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column: span 3;
  -ms-grid-column-span: 3;
}

.weather__nav-item {
  width: 32.8%;
  height: 100%;
}

.weather__nav-btn {
  width: 100%;
  height: 100%;
  font-size: 18px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s
}

.weather__nav-btn:hover {
  background-color: #c5c5c5
}

.weather__nav-btn--active,
.weather__nav-btn:active {
  background-color: #000;
  color: #fff
}

.weather__nav-btn--active:hover,
.weather__nav-btn:active:hover {
  background-color: #000
}